@model User

<div class="row">
    <div class="col-sm-9"></div>
    <div class="col-sm-3"><a href="/">My Profile</a>  <a href="/Logout">Logout</a></div>
</div>

<div class="col-sm-6">
    <h4>@Model.FirstName</h4>
    <p>Description : @Model.Description</p>
</div>    

